.p-view {
  $DIALOG-HEIGHT: 110px;

  &_main {
    height: calc(100vh - #{$HEADER-PC-MARGIN} * 2 - #{$HEADER-PC-HEIGHT} - 50px);
    position: relative;
    display: flex;
    flex-direction: column;

    @include sp {
      min-height: auto;
      height: auto;
      margin-bottom: 0;
      padding: 16px 16px 0;
    }

    >.a-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      >span {
        width: 64px;
        height: 64px;
      }
    }
  }

  &_control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .a-icon {
      width: 20px;
      height: 20px;
    }
  }

  &_back {
    transform: rotate(180deg);
  }

  &_fnc {
    display: flex;

    label {
      margin-right: 12px;
    }
  }

  &_product {
    display: flex;
    align-items: stretch;
    flex: 1;
    position: relative;

    @include sp {
      flex-direction: column;
    }
  }

  &_buydialog {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $COLOR-WHITE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 -5px 10px 0 $BOXSHADOW-VIEW;
    border-radius: 10px 10px 0 0;
    height: 40px;

    @include sp {
      position: fixed;
      bottom: 0;
      left: 0;
      border-radius: 0;
    }
  }

  .m-buttoncontainer {
    margin-bottom: 10px;
  }

  &_receipt {
    flex-wrap: wrap;
    justify-content: center;

    .a-text {
      margin-right: 10px;

      >span.a-text {
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }

  &_item {
    flex: 1;
    position: relative;

    @include sp {
      margin-bottom: 30px;
    }
  }

  &_media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 24px;

    @include sp {
      height: 350px;
      position: relative;
      padding: 0;
    }
  }

  &_info {
    display: flex;
    width: 40%;
    position: relative;

    .m-heading {
      color: $COLOR-BG;
    }

    @include sp {
      flex: 1;
      width: auto;
      border-left: 0;
      flex-direction: column;
    }
  }

  &_seller {
    display: flex;
    align-items: center;

    .a-image {
      margin-left: 6px;
    }

    .p-view_sellerName {
      padding-left: 8px;
    }
  }

  $DETAIL-HEADING-HEIGHT: 138px;
  $PADDING-LEFT: 20px;

  &_detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: calc(#{$DETAIL-HEADING-HEIGHT} + 40px) $PADDING-LEFT calc(#{$DIALOG-HEIGHT} - 60px) $PADDING-LEFT;
    overflow: auto;
    @include customScrollbar();

    @include sp {
      position: initial;
      padding: 0 0 $DIALOG-HEIGHT;
    }
  }

  &_detailheading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    padding: $PADDING-LEFT/1.5 $PADDING-LEFT $PADDING-LEFT $PADDING-LEFT;
    z-index: z('main');
    background: $COLOR-WHITE;
    -moz-box-shadow: 1px 5px 17px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 5px 17px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 5px 17px 1px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .p-view_headSection {
      display: flex;
      justify-content: space-between;
    }

    @include sp {
      padding: 0;
      margin-bottom: 10px;
      height: 100%;
      border-bottom: none;
      position: initial;
      z-index: 0;
    }

    .m-heading {
      display: block;

      @include ellipsisInline;
    }
  }

  &_lead {
    margin-bottom: 17px;
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;

    .a-tag {
      margin: 0 8px 6px 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &_tabs {
    flex: 1;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    .m-tablist {
      margin-bottom: 10px;
      overflow: auto;
    }
  }

  &_tabcontent {
    overflow: auto;
    flex: 1;
    padding-right: 20px;
    margin-top: 16px;
    border-top: solid 1px $COLOR-LIGHTGRAY;

    .history-text {
      margin-top: 14px;
    }
  }

  &_tabitem {
    padding: 14px 0;
    border-bottom: 1px solid $COLOR-BALEGRAY;
  }

  &_modalbody {
    padding-top: 16px;
  }

  &_balance {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    z-index: z('main');

    &:before {
      position: absolute;
      width: 100vw;
      height: 100%;
      content: '';
      background-color: $COLOR-PALEBLUE;
      z-index: z('back');
      transform: translateX(-20vw);
    }
  }

  &_accountinfo {
    flex: 1;
    display: flex;
    justify-content: space-between;

    >.a-text {
      align-self: center;
    }
  }

  &_availablepoint {
    padding: 15px 25px;
    background-color: $COLOR-WHITE;
    border-radius: 10px;
  }

  &_modaldescription {
    margin-bottom: 5px;
  }

  &_modalform {
    display: flex;
    margin-bottom: 10px;

    @include sp {
      flex-direction: column;
    }

    .m-fieldrow {
      flex: 1;
      padding-right: 20px;
      margin-bottom: 0;
    }
  }

  &_modalreceipt {
    flex: 1;
    padding-bottom: 15px;
    border-bottom: 1px solid $COLOR-BALEGRAY;
    @include u-fw-b;

    .a-label {
      margin-bottom: 7px;
      display: block;

      @include sp {
        margin-bottom: 0;
      }
    }
  }

  &_totalpay {
    height: $TEXTFIELD-HEIGHT;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    padding: 0 10px 0 0;

    @include sp {
      height: auto;
    }
  }

  &_receiptdetail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: circle;
    background-color: $RECEIPT-DETAIL-BACKGROUND-GRAY;
    border-left: 2px solid $COLOR-BALEGRAY;
    padding: 6px 10px 2px;

    li {
      display: flex;
      justify-content: space-between;
      width: 85%;

      @include sp {
        width: 40%;
        min-width: 150px;
      }
    }
  }

  &_errormessage {
    text-align: center;
    color: $COLOR_ERROR;
    margin-bottom: 10px;
  }

  .a-image-big {
    img {
      box-shadow: 2px 12px 17px 6px rgb(0 0 0 / 40%);
      border-radius: 20px;
    }
  }
}
